# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore

.svn/*
node_modules/*
bower_components/*
.vscode/*
dist/*
.parcel-cache/*
